[package]
name = "sized-chunks"
version = "0.6.5"
authors = ["Bodil Stokke <bodil@bodil.org>"]
edition = "2018"
license = "MPL-2.0+"
description = "Efficient sized chunk datatypes"
repository = "https://github.com/bodil/sized-chunks"
documentation = "http://docs.rs/sized-chunks"
readme = "./README.md"
categories = ["data-structures"]
keywords = ["sparse-array"]
exclude = ["release.toml", "proptest-regressions/**"]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["std"]
std = []
ringbuffer = ["array-ops"]

[dependencies]
typenum = "1.12.0"
bitmaps = "2.1.0"
array-ops = { version = "0.1.0", optional = true }
refpool = { version = "0.4.3", optional = true }
arbitrary = { version = "1.0.0", optional = true }
